textarea {
    display:block;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*tablet*/
@media screen and (min-width: 768px) {

    .contact-form-button {
        margin-left: 475px;
    }
}

/*laptop*/
@media screen and (min-width: 992px) {

    .contact-form-button {
        margin-left: 475px;
    }
}


