body {
    font-family: 'Cormorant Garamond', 'Arial', sans-serif;
    background-color: #e6e6ee;
    line-height: 1.5;
    color: #8e0000;
}

p {
    font-family: Arial, sans-serif;
    margin: 16px 0;
}

.colums-3 {
    column-count: 3;
}

.columns-2 {
    column-count: 2;
}

.page-container {
    width: 1000px;
    margin: 60px auto;
    /*margin-top: 275px;*/
}

button {
    display: inline-block;
    border-radius: 50%;
    background-color: #8e0000;
    width: 60px;
    height: 60px;
    color: #e6e6ee;
    transform: rotate(12deg);
    margin-left: 875px;

}

button:hover {
    width: 65px;
    height: 65px;
    transform: rotate(15deg);
}