nav {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    height: 60px;
}

.nav-container {
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    flex-basis: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.active-link {
    border-bottom: 2px solid #050505;
}

li {
    color: #050505;
}

a,
a:visited,
a:hover {
    color: #f10909;
    text-decoration: none;
}



